@charset "utf-8";
/* CSS Document */


#section1 {
background:url(../img/background1.jpg) no-repeat;
background-size: 100%;
height: 590px;
}

#section2 {
background:url(../img/east.gif) no-repeat;
background-size: 50%;
background-position:inherit;
height: 750px;
margin-top: 50px;
}

#section3 {
height: 800px;
}

#section4 {
background:url(../img/background5.jpg) no-repeat;
background-size: 100%;
height: 700px;
}

#section5 {
background:url(../img/background6.jpg) no-repeat;
background-size: 100%;
height: 700px;
}

#section6 {
background:url(../img/allteams.jpg);
background-repeat: repeat-y;
background-size: 100%;
height: 900px;
}

#west {
height:500px;
position:absolute;
top: 1470px;
right: 20px;
}	
	
#banner {
background:hsla(0,0%,0%,1.00);
height: 10px;
}	
	
#banner2 {
background:hsla(0,0%,0%,1.00);
height: 100px;
}	

#logos1 {
position: absolute;
left: 700px;
top: 670px;
}	

#logos2 {
position: absolute;
left: 50px;
top: 1150px;
}
	
#logos3 {
position: absolute;
left: 50px;
top: 1470px;
}
	
#logos4 {
position: absolute;
left: 700px;
top: 2040px;
}
	

#selectteam {
padding-bottom: 50px;
}
	

#box1 {
	 height:450px;
	 padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 30px;
	 top: 2230px;
	 background-color:hsla(0,0%,100%,1.00);
	 opacity: 0.8;
	 border-radius: 5em;
}

#innerbox1 {
	height:450px;
	padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 30px;
	 top: 2230px;
	 border-radius: 5em;
}

#box2 {
	 height:450px;
	 padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 700px;
	 top: 2230px;
	 background-color:white;
	 opacity: 0.8;
	 border-radius: 5em;
}

#innerbox2 {
	 height:450px;
	 padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 700px;
	 top: 2230px;
	 border-radius: 5em;
}

#box3 {
	 height:450px;
	 padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 100px;
	 top: 2960px;
	 background-color:hsla(0,0%,100%,1.00);
	 opacity: 0.8;
	 border-radius: 5em;
}

#innerbox3 {
	height:450px;
	padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 100px;
	 top: 2960px;
	 border-radius: 5em;
}	

#box4 {
	 height:100px;
	 padding: 50px; 
	 margin: 50px; 
	 position:absolute;
	 left: 650px;
	 top: 3750px;
	 background-color:white;
	 opacity: 0.8;
	 border-radius: 5em;
}

#innerbox4 {
	 height:100px;
	 padding: 50px; 
	 margin: 50px; 
	 border-radius: 5em;
	 position:absolute;
	 left: 650px;
	 top: 3750px;
}

#searchbox {
	 height:100px;
	 padding: 50px; 
	 margin: 50px; 
	 border-radius: 5em;
	 position:absolute;
	 left:50px;
	 top: 3750px;
	 background-color:red;
	 opacity: 0.8;
}

#innersearchbox {
	 height:100px;
	 padding: 50px; 
	 margin: 50px; 
	 border-radius: 5em;
	 position:absolute;
	 left:50px;
	 top: 3750px;
}


#title {
	padding: 20px;
	margin: 10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 76px;
	color:hsla(36,79%,45%,1.00);
	width: 800px;
	text-align:center;
	line-height:normal;
	position:absolute;
	left: 500px;
	top: 50px;
} 

#head {
	position:absolute;
	left: 100px;
	top: 350px;
}

#select {
	color: white;
}
	
label {
	font-size: 20px;	
}
	
#start {
	margin: 20px 40px 20px 0px;
	padding-left: 30px;
	padding-right: 30px;
}
	
#logo {
	position: absolute;
	left: 280px;
	top: 50px;
	height: 150px;
}

h2 {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 48px;
	color: black;
	float: right;
}

p {
	font-size: 28px;
	color:white;
	line-height: 10px;
	position:absolute;
	left: 700px;
	top: 330px;	
}

#checkboxa {
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
margin-right: 20px;
margin-bottom:20px;
font-size:18px;
color:hsla(33,100%,52%,1.00);
}

#emphasize {
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size: 48px;
color:hsla(36,79%,45%,1.00);
line-height: 30px;
}

#normal {
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
font-size:24px;
margin-right: 20px;
color:hsla(0,0%,1%,1.00);
line-height: 30px;
}

#teamname {
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; 
font-size: 70px;
color:hsla(36,79%,45%,1.00);
line-height: 70px;
margin-bottom: 30px;	
}

#playername {
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size: 24px;
color:hsla(36,79%,45%,1.00);
}

#playerinfo {
font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
font-size:18px;
margin-right: 20px;
color:hsla(0,0%,1%,1.00);
}

#headshot {
width: 150px;
float:right;
}

#searchtitle {
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-weight:600;
font-size: 40px;
color:white;
position: relative;
top: 35px;
left: 300px;
}

#submit {
position:absolute;
left: 150px;
top: -10px;
}

#submit2 {
position:absolute;
left: 150px;
top: -10px; 
}

#whatif {
position:absolute;
left: 100px;
}

#showbar {
position:absolute;
left: 50px;
top: 50px;
}

#financiallost {
position:absolute;
left: 600px;
top: 2850px;
}

#another {
position:absolute;
left: 100px;
top: 480px;
}

#percentage {
visibility:hidden;
}

#bar {
position: absolute;
top: 200px;
left: 50px;
} 

#bar2 {
position: absolute;
top: 200px;
left: 300px;
} 


#pie {
position: absolute;
top: 100px;
left: 550px;
} 


.chiplabel {
position: absolute;
top: 150px;
left: 750px;
} 

#tableau {
position: relative;
top: 350px;
left: 100px;
} 
