@charset "utf-8";
/* CSS Document */

body {
	background-image: url('../img/background.jpg');
	background-size: 100%;
}

#intro {
	width:60%;
	padding-bottom: 40px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
	font-size: 18px;
	color: white;
	text-align: left;
}

#startbox {
	margin-bottom: 40px;
	height: auto;
}

#logo-east{
	margin-left: 10%;
	margin-right: 40px;

}

.eastern {
	padding-left: 20px;
	padding-bottom: 40px;
	width: 40%;
	display: none;
}

.western {
	padding-left: 20px;
	padding-bottom: 40px;
	width: 40%;
	display: none;
}

.logo {
	padding: 10px;
}

#east-conference, #west-conference {
	padding-top: 20px

}

#east-dropdown, #west-dropdown {
	float:left;
	padding-top: 40px;
}

#infobox1, #infobox2, #infobox3 {
	padding-right: 20px; 
	margin-left: 20px; 
	border-radius: 2em;
	margin-top: 20px;
	margin-bottom: 40px;
}


#playerinfobox {
	 padding: 20px; 
}

#searchplayerbox {
	padding: 20px; 
	border-radius: 2em;
	margin-left: 5%;
	margin-right: 60px;
	margin-bottom: 20px;
	border-width: 3px;
	border-style: solid;
	background-color: white;
	height: 458px;
	overflow: scroll;
}

#searchplayerlabel {
	width: auto;
	padding-right: 20px;
}

#searchteambox {
	 border-radius: 2em;
	 padding: 20px;
	 margin-left: 5%;
	 border-width: 3px;
	 border-style: solid;
	 background-color: white;
}

#searchteamlabel {
	width: 80%;
}

#resultbox {
	border-width: 3px;
	border-style: solid;
	background-color: white;
	height:100px;
	border-radius: 2em;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 40px;
	padding: 20px;
	display: none;
	height: 110%;
}

#title {
	padding: 20px;
	margin: 10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 70px;
	color:hsla(36,79%,45%,1.00);
	line-height:normal;
} 

	
label {
	font-size: 20px;
	width: 200px;
	margin-bottom: 20px;	
}

.chiplabel {
	position:relative;
	top: -270px;
	left: 140px;
}
	
#logo {
	height: 100px;
}

h2 {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 48px;
	color: black;
}


#emphasize {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 48px;
	color:hsla(36,79%,45%,1.00);
	line-height: 30px;
}

#financiallost {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 48px;
	color:hsla(36,79%,45%,1.00);
	padding-bottom: 20px;
	padding-top: 20px;
	font-weight: bold;
}

#normal {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
	font-size:24px;
	margin-right: 20px;
	color:hsla(0,0%,1%,1.00);
	line-height: 30px;
}

#teamname {
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; 
	font-size: 70px;
	color:hsla(36,79%,45%,1.00);
	line-height: 70px;
	margin-bottom: 30px;	
}

#playername {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 24px;
	color:hsla(36,79%,45%,1.00);
}

#playerinfo {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; 
	font-size:18px;
	margin-right: 20px;
	color:hsla(0,0%,1%,1.00);
}

ul {
	list-style-type: none;
}


#submit, #another {
	margin-top: 20px;
	margin-right: 20px;

}

#tableau {
	margin-left: 80px;
	margin-right: 80px;
}
